<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Space X  Falcon 9 First Stage Landing Prediction**

 ## Lab 2: Data wrangling

Estimated time needed: **60** minutes

In this lab, we will perform some Exploratory Data Analysis (EDA) to find some patterns in the data and determine what would be the label for training supervised models. 

In the data set, there are several different cases where the booster did not land successfully. Sometimes a landing was attempted but failed due to an accident; for example, <code>True Ocean</code> means the mission outcome was successfully  landed to a specific region of the ocean while <code>False Ocean</code> means the mission outcome was unsuccessfully landed to a specific region of the ocean. <code>True RTLS</code> means the mission outcome was successfully  landed to a ground pad <code>False RTLS</code> means the mission outcome was unsuccessfully landed to a ground pad.<code>True ASDS</code> means the mission outcome was successfully landed on  a drone ship <code>False ASDS</code> means the mission outcome was unsuccessfully landed on a drone ship. 

In this lab we will mainly convert those outcomes into Training Labels with `1` means the booster successfully landed `0` means it was unsuccessful.

Falcon 9 first stage will land successfully

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/landing_1.gif)

Several examples of an unsuccessful landing are shown here:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/crash.gif)

## Objectives
Perform exploratory  Data Analysis and determine Training Labels 

- Exploratory Data Analysis
- Determine Training Labels

----

Install the below libraries

In [ ]:
!pip install pandas
!pip install numpy

## Import Libraries and Define Auxiliary Functions

We will import the following libraries.

In [1]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

### Data Analysis

Load Space X dataset, from last section.

In [5]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

#### Identificar y calcular el porcentaje de valores faltantes en cada atributo

In [11]:
df.isnull().sum()/len(df)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

#### Identifique qué columnas son numéricas y categóricas:

In [14]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

The data contains several Space X  launch facilities: <a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites'>Cape Canaveral Space</a> Launch Complex 40  <b>VAFB SLC 4E </b> , Vandenberg Air Force Base Space Launch Complex 4E <b>(SLC-4E)</b>, Kennedy Space Center Launch Complex 39A <b>KSC LC 39A </b>.The location of each Launch Is placed in the column <code>LaunchSite</code>

### TAREA 1: Calcular el número de lanzamientos en cada sitio

Los datos contienen varias instalaciones de lanzamiento de Space X: <a href='https://en.wikipedia.org/wiki/List_of_Cape_Canaveral_and_Merritt_Island_launch_sites'>Complejo de lanzamiento espacial de Cabo Cañaveral</a> 40 <b>VAFB SLC 4E </b>, Complejo de lanzamiento espacial de la base aérea Vandenberg 4E <b>(SLC-4E)</b>, Complejo de lanzamiento espacial del Centro Espacial Kennedy 39A <b>KSC LC 39A </b>. La ubicación de cada lanzamiento se coloca en la columna <code>LaunchSite</code>

A continuación, veamos la cantidad de lanzamientos de cada sitio.

#### Utilice el método <code>value_counts()</code> en la columna <code>LaunchSite</code> para determinar la cantidad de lanzamientos en cada sitio:

In [20]:
# Aplicar value_counts() en la columna LaunchSite
df['LaunchSite'].value_counts()

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

#### Cada lanzamiento apunta a una órbita dedicada, y estos son algunos tipos de órbitas comunes:

* <b>LEO</b>: La órbita terrestre baja (LEO) es una órbita centrada en la Tierra con una altitud de 2000 km (1200 mi) o menos (aproximadamente un tercio del radio de la Tierra),[1] o con al menos 11,25 períodos por día (un período orbital de 128 minutos o menos) y una excentricidad menor a 0,25.[2] La mayoría de los objetos creados por el hombre en el espacio exterior están en LEO <a href='https://en.wikipedia.org/wiki/Low_Earth_orbit'>[1]</a>.

* <b>VLEO</b>: Las órbitas terrestres muy bajas (VLEO) se pueden definir como las órbitas con una altitud media inferior a 450 km. Operar en estas órbitas puede proporcionar una serie de beneficios a las naves espaciales de observación de la Tierra, ya que la nave espacial opera más cerca del punto de observación<a href='https://www.researchgate.net/publication/271499606_Very_Low_Earth_Orbit_mission_concepts_for_Earth_Observation_Benefits_and_challenges'>[2]</a>.

* <b>GTO</b> Una órbita geoestacionaria es una órbita terrestre alta que permite a los satélites adaptarse a la rotación de la Tierra. Ubicada a 22,236 millas (35,786 kilómetros) sobre el ecuador de la Tierra, esta posición es un punto valioso para monitorear el clima, las comunicaciones y la vigilancia. Debido a que el satélite orbita a la misma velocidad que gira la Tierra, el satélite parece permanecer en su lugar a lo largo de una única longitud, aunque puede desplazarse de norte a sur”, escribió la NASA en su sitio web Earth Observatory <a href="https://www.space.com/29222-geosynchronous-orbit.html" >[3] </a>.

* <b>SSO (o SO)</b>: Es una órbita heliosincrónica, también llamada órbita heliosincrónica, es una órbita casi polar alrededor de un planeta, en la que el satélite pasa sobre cualquier punto dado de la superficie del planeta a la misma hora solar media local <a href="https://en.wikipedia.org/wiki/Sun-synchronous_orbit">[4] <a>.

* <b>ES-L1</b>: En los puntos de Lagrange, las fuerzas gravitacionales de los dos cuerpos grandes se cancelan de tal manera que un objeto pequeño colocado en órbita allí está en equilibrio en relación con el centro de masa de los cuerpos grandes. L1 es uno de esos puntos entre el Sol y la Tierra <a href="https://en.wikipedia.org/wiki/Lagrange_point#L1_point">[5]</a> .

* <b>HEO</b> Una órbita altamente elíptica es una órbita elíptica con alta excentricidad, generalmente se refiere a una órbita alrededor de la Tierra <a href="https://en.wikipedia.org/wiki/Highly_elliptical_orbit">[6]</a>.

* <b> ISS </b> Una estación espacial modular (satélite artificial habitable) en órbita terrestre baja. Se trata de un proyecto colaborativo multinacional entre cinco agencias espaciales participantes: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Japón), ESA (Europa) y CSA (Canadá). <a href="https://en.wikipedia.org/wiki/International_Space_Station"> [7] </a>

* <b> MEO </b> Órbitas geocéntricas que varían en altitud desde los 2000 km (1200 mi) hasta justo por debajo de la órbita geosincrónica a 35 786 kilómetros (22 236 mi). También conocida como órbita circular intermedia. Estos se encuentran "más comúnmente a 20.200 kilómetros (12.600 mi), o 20.650 kilómetros (12.830 mi), con un período orbital de 12 horas <a href="https://en.wikipedia.org/wiki/List_of_orbits"> [8] </a>

* <b> HEO </b> Órbitas geocéntricas por encima de la altitud de la órbita geosincrónica (35.786 km o 22.236 mi) <a href="https://en.wikipedia.org/wiki/List_of_orbits"> [9] </a>

* <b> GEO </b> Es una órbita geosincrónica circular a 35.786 kilómetros (22.236 millas) sobre el ecuador de la Tierra y que sigue la dirección de la rotación de la Tierra <a href="https://en.wikipedia.org/wiki/Geostationary_orbit"> [10] </a>

* <b> PO </b> Es un tipo de satélite en el que un satélite pasa por encima o casi por encima de ambos polos del cuerpo que orbita (normalmente un planeta como la Tierra <a href="https://en.wikipedia.org/wiki/Polar_orbit"> [11] </a>

algunos se muestran en el siguiente gráfico:

![](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/api/Images/Orbits.png)

### TAREA 2: Calcular el número y ocurrencia de cada órbita

 Use the method  <code>.value_counts()</code> to determine the number and occurrence of each orbit in the  column <code>Orbit</code>


#### Utilice el método <code>.value_counts()</code> para determinar el número y la ocurrencia de cada órbita en la columna <code>Orbit</code>

In [27]:
# Apply value_counts on Orbit column
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

### TAREA 3: Calcular el número y la ocurrencia del resultado de la misión de las órbitas.

Use the method <code>.value_counts()</code> on the column <code>Outcome</code> to determine the number of <code>landing_outcomes</code>.Then assign it to a variable landing_outcomes.


#### Utilice el método <code>.value_counts()</code> en la columna <code>Outcome</code> para determinar el número de <code>landing_outcomes</code>. Luego asígnelo a una variable landing_outcomes.

In [32]:
# landing_outcomes = valores en la columna Resultado
landing_outcomes = df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

<code>True Ocean</code> significa que el resultado de la misión aterrizó con éxito en una región específica del océano, mientras que <code>False Ocean</code> significa que el resultado de la misión aterrizó sin éxito en una región específica del océano. <code>True RTLS</code> significa que el resultado de la misión aterrizó con éxito en una plataforma de tierra. <code>False RTLS</code> significa que el resultado de la misión aterrizó sin éxito en una plataforma de tierra. <code>True ASDS</code> significa que el resultado de la misión aterrizó con éxito en un barco no tripulado. <code>False ASDS</code> significa que el resultado de la misión aterrizó sin éxito en un barco no tripulado. <code>None ASDS</code> y <code>None None</code> representan un aterrizaje fallido.

In [82]:
# Filtrar para contar solo 'None None' y 'None ASDS'
failed_complete = df['Outcome'].value_counts().get('None None', 0) + df['Outcome'].value_counts().get('None ASDS', 0)

# Mostrar el resultado
print(f"Aterrizajes que fallaron por completo: {failed_complete}")

Aterrizajes que fallaron por completo: 21

In [36]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

#### Creamos un conjunto de resultados donde la segunda etapa no aterrizó con éxito:

In [39]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TAREA 4: Crear una etiqueta de resultado de aterrizaje a partir de la columna Resultado

#### Utilizando <code>Outcome</code>, crea una lista donde el elemento sea cero si la fila correspondiente en <code>Outcome</code> está en el conjunto <code>bad_outcome</code>; de lo contrario, es uno. Luego asígnalo a la variable <code>landing_class</code>:

In [44]:
# landing_class = 0 si el resultado es malo
# landing_class = 1 en caso contrario

landing_class = []

for key, value in df['Outcome'].items():
    if value in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

#### Esta variable representará la variable de clasificación que representa el resultado de cada lanzamiento. Si el valor es cero, la primera etapa no aterrizó con éxito; uno significa que la primera etapa aterrizó con éxito

In [47]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [63]:
# Contar valores en la columna 'Class'
class_counts = df['Class'].value_counts()

# Mostrar los resultados
print(f"Cantidad de aterrizajes fallidos (0): {class_counts.get(0, 0)}")
print(f"Cantidad de aterrizajes exitosos (1): {class_counts.get(1, 0)}")

Cantidad de aterrizajes fallidos (0): 30
Cantidad de aterrizajes exitosos (1): 60

In [67]:
# Ver cuántos valores tiene realmente la columna
print(df['Class'].value_counts())

1    60
0    30
Name: Class, dtype: int64

In [49]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

#### Podemos utilizar la siguiente línea de código para determinar la tasa de éxito:

In [52]:
df["Class"].mean()

0.6666666666666666

#### Aterrizajes fallidos

In [72]:
# Calcular la tasa de fracasos (aterrizajes fallidos)
failure_rate = 1 - df["Class"].mean()

# Calcular el número de aterrizajes fallidos
total_landings = df["Class"].count()
failed_landings = total_landings * failure_rate

# Mostrar los resultados
print(f"Tasa de fracasos: {failure_rate:.2f}")
print(f"Número de aterrizajes fallidos: {int(failed_landings)}")

Tasa de fracasos: 0.33
Número de aterrizajes fallidos: 30

In [74]:
# Contar aterrizajes fallidos
failed_landings = df['Class'].value_counts().get(0, 0)

# Mostrar el resultado
print(f"Cantidad de aterrizajes fallidos: {failed_landings}")

# Opcional: Revisar detalles de la columna 'Outcome' para fallos
bad_outcomes = {"False ASDS", "False Ocean", "False RTLS", "None ASDS", "None None"}
detailed_failures = df[df['Outcome'].isin(bad_outcomes)]
print(f"Detalles de fallos:\n{detailed_failures}")

Cantidad de aterrizajes fallidos: 30
Detalles de fallos:
    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
5              6  2014-01-06       Falcon 9   3325.000000   GTO  CCAFS SLC 40
8              9  2014-08-05       Falcon 9   4535.000000   GTO  CCAFS SLC 40
9             10  2014-09-07       Falcon 9   4428.000000   GTO  CCAFS SLC 40
10            11  2014-09-21       Falcon 9   2216.000000   ISS  CCAFS SLC 40
11            12  2015-01-10       Falcon 9   2395.000000   ISS  CCAFS SLC 40
13            14  2015-04-14       Falcon 9   1898.000000   ISS  CCAFS SLC 40
14            15  2015-04-27       Falcon 9   4707.000000   GTO  CCAFS SLC 40
15            16  2015-06-28       Falcon 9   2477.000000   ISS  CCAFS SLC 40
17            18  2016-01-17       Falcon 9    553.000000    PO   VAFB SLC 4E
18            19  2016-03-04       Falcon 9   5271.000000   GTO  CCAFS SLC 40
24            25  2016-09-01       Falcon 9   5500.000000   GTO  CCAFS SLC 40
27            28  2017-03-16       Falcon 9   5600.000000   GTO    KSC LC 39A
30            31  2017-05-15       Falcon 9   6070.000000   GTO    KSC LC 39A
34            35  2017-07-05       Falcon 9   6761.000000   GTO    KSC LC 39A
45            46  2018-03-06       Falcon 9   6092.000000   GTO  CCAFS SLC 40
46            47  2018-03-30       Falcon 9   9600.000000    PO   VAFB SLC 4E
47            48  2018-04-02       Falcon 9   2760.000000   ISS  CCAFS SLC 40
50            51  2018-06-04       Falcon 9   5383.850000   GTO  CCAFS SLC 40
51            52  2018-06-29       Falcon 9   2410.000000   ISS  CCAFS SLC 40
59            60  2018-12-05       Falcon 9   2573.000000   ISS  CCAFS SLC 40
60            61  2018-12-23       Falcon 9   4400.000000   MEO  CCAFS SLC 40
67            68  2019-08-06       Falcon 9   6500.000000   GTO  CCAFS SLC 40
72            73  2020-01-19       Falcon 9   6104.959412    SO    KSC LC 39A
74            75  2020-02-17       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
76            77  2020-03-18       Falcon 9  15600.000000  VLEO    KSC LC 39A

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
5     None None        1     False   False  False                       NaN
8     None None        1     False   False  False                       NaN
9     None None        1     False   False  False                       NaN
10  False Ocean        1     False   False  False                       NaN
11   False ASDS        1      True   False   True  5e9e3032383ecb761634e7cb
13   False ASDS        1      True   False   True  5e9e3032383ecb761634e7cb
14    None None        1     False   False  False                       NaN
15    None ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca
17   False ASDS        1      True   False   True  5e9e3033383ecbb9e534e7cc
18   False ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca
24    None ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca
27    None None        1     False   False  False                       NaN
30    None None        1     False   False  False                       NaN
34    None None        1     False   False  False                       NaN
45    None None        1      True   False   True                       NaN
46    None None        2      True    True   True                       NaN
47    None None        2      True    True   True                       NaN
50    None None        2     False    True  False                       NaN
51    None None        2     False    True  False                       NaN
59   False RTLS        1      True   False   True  5e9e3032383ecb267a34e7c7
60    None None        1     False   False  False                       NaN
67    None None        3     False    True  False                       NaN
72    None None        4     False    True  False                       NaN
74   False ASDS        4      True    True   True  5e9e3032383ecb6bb234e7ca
76   False ASDS        5      True    True   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0     1.0            0  B0003  -80.577366  28.561857      0
1     1.0            0  B0005  -80.577366  28.561857      0
2     1.0            0  B0007  -80.577366  28.561857      0
3     1.0            0  B1003 -120.610829  34.632093      0
4     1.0            0  B1004  -80.577366  28.561857      0
5     1.0            0  B1005  -80.577366  28.561857      0
8     1.0            0  B1008  -80.577366  28.561857      0
9     1.0            0  B1011  -80.577366  28.561857      0
10    1.0            0  B1010  -80.577366  28.561857      0
11    1.0            0  B1012  -80.577366  28.561857      0
13    1.0            0  B1015  -80.577366  28.561857      0
14    1.0            0  B1016  -80.577366  28.561857      0
15    1.0            0  B1018  -80.577366  28.561857      0
17    1.0            0  B1017 -120.610829  34.632093      0
18    1.0            0  B1020  -80.577366  28.561857      0
24    3.0            0  B1028  -80.577366  28.561857      0
27    3.0            0  B1030  -80.603956  28.608058      0
30    3.0            0  B1034  -80.603956  28.608058      0
34    3.0            0  B1037  -80.603956  28.608058      0
45    4.0            0  B1044  -80.577366  28.561857      0
46    4.0            1  B1041 -120.610829  34.632093      0
47    4.0            1  B1039  -80.577366  28.561857      0
50    4.0            1  B1040  -80.577366  28.561857      0
51    4.0            1  B1045  -80.577366  28.561857      0
59    5.0            0  B1050  -80.577366  28.561857      0
60    5.0            0  B1054  -80.577366  28.561857      0
67    5.0            2  B1047  -80.577366  28.561857      0
72    5.0            3  B1046  -80.603956  28.608058      0
74    5.0            3  B1056  -80.577366  28.561857      0
76    5.0            4  B1048  -80.603956  28.608058      0

In [80]:
# Comparar conteos entre 'Class' y 'Outcome'
print(df['Class'].value_counts())  # Basado en clasificación
print(df['Outcome'].value_counts())  # Basado en resultados reales

1    60
0    30
Name: Class, dtype: int64
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

#### Ahora podemos exportarlo a un CSV para la siguiente sección, pero para que las respuestas sean consistentes, en el próximo laboratorio proporcionaremos datos en un rango de fechas preseleccionado.

<code>df.to_csv("dataset_part_2.csv", index=False)</code>

In [56]:
# export the data
df.to_csv("dataset_part_2.csv", index=False)

## Authors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

<a href="https://www.linkedin.com/in/nayefaboutayoun/">Nayef Abou Tayoun</a> is a Data Scientist at IBM and pursuing a Master of Management in Artificial intelligence degree at Queen's University.

<!--
## Change Log
-->

<!--
| Date (YYYY-MM-DD) | Version | Changed By | Change Description      |
| ----------------- | ------- | ---------- | ----------------------- |
| 2021-08-31        | 1.1     | Lakshmi Holla    | Changed Markdown |
| 2020-09-20        | 1.0     | Joseph     | Modified Multiple Areas |
| 2020-11-04        | 1.1.    | Nayef      | updating the input data |
| 2021-05-026       | 1.1.    | Joseph      | updating the input data |
-->

Copyright © 2021 IBM Corporation. All rights reserved.